---
import { getCollection } from "astro:content";

// layout
import Main from "../../../../layout/Main.astro";
import Nav from "../../../../layout/Nav.astro";

// components
import PageCategories from "../../../../components/PageCategories.astro";

export async function getStaticPaths({ paginate }) {

    const cats = [
        { name: 'cat 1', slug: 'cat-1', url: '/ar/posts/cat-1/1'},
        { name: 'cat 2', slug: 'cat-2', url: '/ar/posts/cat-2/1'},
        { name: 'cat 3', slug: 'cat-3', url: '/ar/posts/cat-3/1'},
        { name: 'cat 4', slug: 'cat-4', url: '/ar/posts/cat-4/1'},
        { name: 'all', slug: 'all', url: '/ar/posts/all/1'}
    ];

    const paginatedCats = cats.map( async (cat) => {

        if(cat.slug === 'all') {

            const enPostsAll = await getCollection('posts', post => post.id.includes('ar/'));

            return paginate( enPostsAll, { pageSize: 5, params: { cat: cat.slug }, props: { cats, currentCat: cat } });    

        }

        const enPostsByCat = await getCollection('posts', post => {

            return post.id.includes('ar/') && (post.data.cat === cat.slug);

        });

        return paginate( enPostsByCat, { pageSize: 5, params: { cat: cat.slug }, props: { cats, currentCat: cat } });

    });

    return await Promise.all(paginatedCats);

};

const { page, cats, currentCat } = Astro.props;
---
<Main id="posts" title={currentCat.name}>

    <Nav lang="ar" />

    <PageCategories cats={cats} currentCat={currentCat} />

    <ul>
        {
            page.data.map(post => {
                return <li>
                    <a href={ `${post.slug}` }>{ post.data.title }</a>
                </li>
            })
        }
    </ul>

    <ul>
        {
            Array( Math.ceil(page.total / 5) ).fill(undefined).map( (_, index) => {
                return <li>
                    <a href={`/ar/posts/${currentCat.slug}/${index + 1}`}>{ index + 1 }</a>
                </li>
            })
        }
    </ul>
    
</Main>